.header-list-contact {
    padding-bottom: 35px;
}

.name-chat-contact {
    padding-top: 10px;
    padding-left: 5px;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.dropdown-create-new-chat {
    margin-left: -70px;
}

.active-contact-chat {
    background: #c7edfc;
}

.scroll-contacts {
    height: 75vh;
    overflow-y: scroll;
    margin-right: -10px;
}
