<form action="" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">CHANGE PASSWORD</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="row no-gutters">
                <label class="col-md-2">Old password</label>
                <input [ngClass]="{'is-invalid': changePasswordForm.get('current_password').touched && changePasswordForm.get('current_password').invalid}"
                    formControlName="current_password" class="form-control col-md-10" type="text" id="current_password">
                <div *ngIf="changePasswordForm.get('current_password').touched && changePasswordForm.get('current_password').invalid"
                     class="invalid-feedback">
                    <div *ngIf="changePasswordForm.get('current_password').errors.required">Field is required</div>
                    <div *ngIf="changePasswordForm.get('current_password').errors.minlength">Minimum of 6 characters</div>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <label class="col-md-2">New password</label>
                <input  [ngClass]="{'is-invalid': changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid}"
                        formControlName="password" class="form-control col-md-10" type="text" id="password">
                <div *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid"
                     class="invalid-feedback">
                    <div *ngIf="changePasswordForm.get('password').errors.required">Field is required</div>
                    <div *ngIf="changePasswordForm.get('password').errors.minlength">Minimum of 6 characters</div>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <label class="col-md-2">Confirm password</label>
                <input [ngClass]="{'is-invalid': changePasswordForm.get('confirm_password').touched && changePasswordForm.get('confirm_password').invalid}"
                       formControlName="confirm_password" class="form-control col-md-10" type="text" id="confirm_password">
                <div *ngIf="changePasswordForm.get('confirm_password').touched && changePasswordForm.get('confirm_password').invalid"
                     class="invalid-feedback">
                    <div *ngIf="changePasswordForm.get('confirm_password').errors.required">Field is required</div>
                    <div *ngIf="changePasswordForm.get('confirm_password').errors.minlength">Minimum of 6 characters</div>
                </div>
                <div
                    *ngIf="changePasswordForm.get('confirm_password').errors && changePasswordForm.get('confirm_password').errors.ConfirmPassword"
                    class="invalid-feedback">Confirm password does not match
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
                (click)="activeModal.dismiss()">Cancel
        </button>
        <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-outline-dark">Save</button>
    </div>

</form>
