* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create-new-chat {
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal-header {
    height: 70px;
}

.btn-close {
    padding-right: 30px;
    font-size: 20px;
    z-index: 100;
    position: absolute;
    cursor: pointer;
}

.reset-search-input:hover {
    cursor: pointer;
}

.search-user {
    border: none !important;
    outline: none !important;
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
}

.form-search {
    width: 96.5%;
    margin-top: 10px;
}

.label-translate {
    margin-bottom: 0;
}

.list-contact {
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}

.custom-title {
    font-weight: 600;
}

.item {
    position: relative;
    height: 50px;
    margin-top: 5px;
}

.item:hover {
    cursor: pointer;
}

.item img {
    border-radius: 50%;
}

.label-list-contact {
    margin-top: 10px;
    font-weight: normal;
}

.user-status {
    position: absolute;
    top: 10px;
    left: 31px;
    font-size: 12px;
    border-radius: 50%;
}

.user-name {
    margin-left: 30px;
}

.user-avatar {
    width: 45px;
    height: 45px;
}

.content {
    margin-top: 5px;
}

.group-list {
    list-style: none;
}

.group__item {
    cursor: pointer;
}

.group__item :hover button[title='remove'] {
    display: inline-block;
    transition-delay: 2s;
}

.group__item:hover {
    background: #eeeeee6b;
}

.group__item--avatar {
    border-radius: 50%;
    overflow: hidden;
}

.group__item--name {
    padding: 12px 0;
    border-bottom: 1px solid #bbbbbb;
    flex: 1 1 auto;
    font-weight: 600;
}
.custom-modal-footer {
    padding: 10px 0;
    > .btn-dark {
        padding: 5px 10px;
    }
}
